Структура данни за медиана
Напишете структура данни, която поддържа две операции:
1. Добавяне на число към извадката.
2. Смятане на медианата на досега добавените числа.
Изисквания:
1. Написан е на C++ версия 14 (CMake for build system)
2. Добре структуриран код ( лесен за четене и разбиране )
3. Има автоматични тестове
4. Хостнат е в github.com (или bitbucket.com, или gitlab.com )
5. Операциите добавяне на число и смятане на медиана имат минимална алгоритмична сложност